* {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  border-bottom: 2px solid rgb(0, 100, 255);
  padding: 20px 0px;
  text-align: center;
  font-size: 45px;
  color: rgb(0, 100, 255);
  font-weight: bold;
}
.desc-p {
  font-size: 35px;
  font-weight: bold;
  color: rgb(0, 100, 255);
  text-align: center;
  padding: 10px 0px;
}
.description {
  padding: 20px 100px;
}
.question {
  font-size: 30px;
  margin: 10px 20px;
}
.btn {
  display: flex;
  border: 1px solid black;
  padding: 5px 10px;
  background-color: rgb(0, 100, 255);
  color: white;
  height: 50px;
  width: 70%;
  margin: 5px 30px;
  border-radius: 30px;
  font-size: larger;
  font-weight: 600;
}
.btn-next {
  padding: 5px 30px;
  transform: translateX(280px);
  margin: 10px 0px;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 100, 255);
  border-radius: 10px;
}
.error {
  color: red;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 20px 0px;
}
.middle-error {
  margin-top: 200px;
}
.result {
  color: red;
  font-size: 45px;
  text-align: center;
  padding: 50px 0px;
}
.btn-next:hover {
  scale: 1.02;
}
.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.btn-start {
  justify-content: center;
  width: auto;
}
.btn:hover {
  scale: 1.03;
}
.btn-correct {
  background-color: green;
}
.btn-wrong {
  background-color: red;
}
.user-answer {
  transform: translateX(30px);
}
.progress {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
  border: 1px solid black;
  margin: 5px 0px;
}
@media (max-width: 500px) {
  .desc-p {
    font-size: 25px;
  }
  .description {
    padding: 10px 30px;
  }
  .btn-next {
    padding: 5px 30px;
    transform: translateX(0px);
    margin: 0px 0px;
  }
}
